.corporate-content{
    background: linear-gradient(#f9e5f4, #f1b1df);
    margin: 0;
    padding: 0;
    display: flow-root;
}

.corporate-left-title h2{
    font-size:40px ;
    font-weight: 600;
    width: 80%;
    margin: auto;
    text-align: left;
    padding-top: 25px;
    margin-bottom: 5px;
    padding-left: 0;
    color: #0b1657;
    margin-top: 20px;

}

.corporate-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #0b1657;
    border-radius: 10px;
    margin-left: 10%;
    float: left;
    margin-bottom: 10px;
}

.text-box{
    margin: 50px;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center ;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;

}

.two-text-box {
    display: flex;
    gap: 30px;                 /* space between the boxes */
    margin: 50px;              /* outer spacing for the whole row */
    align-items: stretch;      /* both boxes same height */
}

.left-box,
.right-box {
    flex: 1;                   /* each takes 50% of the row */
    padding: 50px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 20px;
}
